label {
    font-size: 12px;
    display: block;
    opacity: 0.5;
}

input {
    border: none;
    outline: none;
    border-bottom: 1.5px solid #000000;

    display: block;
}

.editable-field {
    background-image: url('/pencil.svg');
    background-repeat: no-repeat;
    background-position: right;
}
