@import "../../styles/mixins";
@import "../../styles/blocks/profile";

// Main
.profile_settings {
  @extend %profile-main;
}

// Username
.profile_settings__username {
  margin-top: 5px;
}

// Inputs
.profile_settings__inputs {
  @extend %profile__inputs;
  margin-top: 30px;
}

// Buttons
.profile_settings__buttons {
  @extend %profile__buttons;
  @extend %on-center-one-column;
}

.profile_settings__buttons__change_password {
  margin-top: 0;
}

// Overlay when hovering over an icon
.profile_settings__avatar {
  position: relative;
  display: inline-block;
}


.profile_settings__avatar:hover {
  .profile_settings__avatar_overlay {
    opacity: 1;
  }
}

.profile_settings__avatar_overlay {
  @extend %on-center-one-column;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.6);

  overflow: hidden;

  width: 100%;
  height: 100%;
  border-radius: 50%;

  opacity: 0;
  transition: .5s ease;

  color: white;
}
