@import '../../styles/mixins';

// Main
.chat__delimiter {
  border: none;
  border-top: 1.5px solid black;
}

// Header
.chat__header__content {
  position: relative;

  display: flex;
  flex-direction: row;

  .back-button {
    margin-top: 15px;
    margin-left: 15px;
  }

  .chat__header__content__name {
    position: absolute;
    right: 100px;
    margin-top: 10px;
    text-decoration: underline;
  }

  .chat__header__content__avatar {
    position: absolute;

    right: 15px;

    width: 65px;
    height: 65px;
  }
}

// Footer
.chat__footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.chat__footer__content {
  display: flex;
  justify-content: space-between;

  .chat__footer__add_file {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .chat__footer__input_message {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    input {
      height: 40px;
      width: 100%;
      background: #EEEEEE;
      border: none;
      border-radius: 10px;

      padding-left: 15px;
    }
  }

  .chat__footer__send_button {
    margin-right: 15px;
    margin-bottom: 10px;
  }

}
