.chat_card__users {
  position: absolute;
  left: 90px;
  top: 80px;
  width: 200px;
  height: 80px;
  background-color: #E7E7E7;
  border-radius: 2px;
  font-size: 13px;
  overflow: auto;
  text-align: center;
}

.chat_card__users__list {
  list-style: none;
  padding: 0;
}
