%on-center-one-column {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

%on-center-of-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
