@import "../../styles/mixins";
@import "../../styles/blocks/profile";

/* Main */
.profile_settings {
  @extend %profile-main;
}

/* Username */
.profile_settings__username {
  margin-top: 5px;
}

/* Inputs */
.profile_settings__inputs {
  @extend %profile__inputs;

  margin-top: 30px;
}

/* Buttons */
.profile_settings__buttons {
  @extend %profile__buttons;
  @extend %on-center-one-column;
}

.profile_settings__buttons__change_password {
  margin-top: 0;
}
