/* Main */
.chat_card {
    box-sizing: border-box;
    position: relative;
    width: 320px;
    height: 180px;
    border: #3FD7EC solid 1px;
    border-radius: 5px;
}

/* Avatar */
.chat_card__avatar {
    position: absolute;
    top: 15px;
    left: 15px;
}

.avatar {
    width: 65px;
    height: 65px;
}

/* New messages info */
.chat_card__new_messages {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #3369F3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

/* Companion name */
.chat_card__companion {
    position: absolute;
    left: 90px;
    top: 15px;
}

/* Chat users */
.chat_card__users {
    position: absolute;
    left: 90px;
    top: 60px;
    width: 200px;
    height: 100px;
    background-color: #E7E7E7;
    border-radius: 2px;
    font-size: 13px;
}
