<button class="send-button">
    <img class="up-arrow" src="/up_arrow.svg" alt="Send"/>
</button>

<style>
    .send-button {
        width: 41px;
        height: 41px;
        border-radius: 50%;
        border: none;
        background-color: #3FD7EC;
        color: black;
    }

    .up-arrow {
        width: 20px;
        height: 20px;
    }
</style>
