@import '../../styles/blocks/auth';

// Main
.sign_in {
  @extend %main;

  width: 220px;
  height: 300px;
}

// Header
.sign_in__header_text {
  @extend %header_text;
}

// Inputs
.sign_in__inputs {
  @extend %inputs;

  input {
    margin-bottom: 30px;
  }
}

// Buttons
.sign_in__buttons {
  @extend %buttons;

  margin-top: 15px;
}
